<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Viktor.IMS.Properties.Settings.MyConnectionString"
            connectionString="Data Source=.;Initial Catalog=Mikavi;User ID=sa;Password=viktor"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>