<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
            type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                 Microsoft.Practices.Unity.Configuration, Version=2.1.505.0,
                 Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  
  <unity>
    <typeAliases>
      <typeAlias alias="Presentation" type="Viktor.IMS.Presentation.MainForm,Viktor.IMS.Presentation" />
      <typeAlias alias="Form" type="System.Windows.Forms.Form,System.Windows.Forms" />
    </typeAliases>
    <containers>
      <container name="PresentationContainer">
        <types>
          <type name="MainForm1" type="Form" mapTo="Presentation"></type>
        </types>
      </container>
    </containers>
  </unity>
</configuration>