<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="barcodeScanner" type="Viktor.IMS.Presentation.BarcodeScannerListenerConfigurationSection, Viktor.IMS.Presentation"/>
  </configSections>
  <barcodeScanner>
    <hardwareIds>
      <add id="VID_067B&amp;PID_2303"/>
    </hardwareIds>
  </barcodeScanner>
  <connectionStrings>
    <add name="MikaviConnectionString" connectionString="Data Source=.;Initial Catalog=Mikavi;User ID=sa;Password=viktor" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup> 
</configuration>
